table {
    margin: 20px;
}
tr {
    width: 50%;
}
table, tr, td, th, thead {
    border: 1px solid rgb(108, 160, 238);
}
body{

    background-color: rgb(252, 221, 141);
}
.h1 {
    color: aliceblue;
}
.btn-small {
    margin: 10px;
}